*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body{
  margin: 0;
  overflow-x: hidden;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px;
}

img{
  display: block;
  max-width: 100%;
  object-fit: cover;
}

p{
  font-family: "Inter", sans-serif;
  font-size: .9375rem;
  color: hsl(236, 13%, 42%);
  line-height: 1.7;
}
