header{
  display: flex;
  justify-content: space-between;
   nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    li a {
      text-decoration: none;
      color: hsl(236, 13%, 42%);
      font-family: "Inter", sans-serif;
      transition: .3s;

      &:hover{
      color: hsl(5, 85%, 63%);
      filter:brightness(1.2);
      }
    }
   }
}