header{
  display: flex;
  justify-content: space-between;
  padding: 40px;
  align-items: center;
   nav ul {
    display: flex;
    gap: 30px;
    li a {
      color: hsl(236, 13%, 42%);
      transition: .3s;
      padding: 5px;

      &:hover{
      color: hsl(5, 85%, 63%);
      filter:brightness(1.2);
      }
    }
   }
}