.rodape{

  ul{
    display: flex;
    gap: 30px;
    @media (max-width:500px) {
      display: grid;
      width: 100%;
    }
    
    li{
      display: flex;
      gap: 10px;

      div{
        flex: 1;

        & + div {
          flex: 2;
        }
      }
      
      h1{
        color: hsl(233, 8%, 79%);
        font-size: 3rem;
        margin-bottom: 10px;
      }
      a{
        h2{
          color: hsl(240, 100%, 5%);
          margin-bottom: 20px;
          font-size: 1.25rem;
          transition: .3s;
        }
        p{
          font-size: 1.125rem;
          line-height: 1.6;
        }

        &:hover h2{
          color: hsl(5, 85%, 63%);
        }
      }
    }
  }
}